@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    padding-bottom: 90px;
    height: 760px;
}
.top-banner{
    background: url("../images/top-banner.png") no-repeat;
}
.dream-area{
    background: url("../images/dream-bg.png") no-repeat right;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: #696969;
}
.orange-hilight{
    color: #ffa500;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-btn{
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 10px;
    color: #ffffff;
    background: linear-gradient(45deg, #ffa500, #ff6347);
}
